<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        	<div class="boxes">
            <div class="long"><h2>도곡렉슬아파트</h2></div>
            <div class="apt">
                <ul class="colors">
                    <li><span class="color"></span><span class="about">접속</span></li>
                    <li><span class="color"></span><span class="about">정지</span></li>
                    <li><span class="color"></span><span class="about">전력거래<br/>(KPX, DR)</span></li>
                    <li><span class="color"></span><span class="about">V2G</span></li>
                    <li><span class="color"></span><span class="about">통신불량</span></li>
                </ul>
                <ul class="sum">
                    <li>금일:<span>{{formatStringNumber Allelectric}}</span>kwh</li>
                    <li><span>{{formatStringNumber Allcost}}</span>원</li>
                </ul>
                <div class="car">
                    <dl>
                        <dt><span class="dot"></span>고객번호 : {{A1User.userid}}</dt>
                        <dd class="sky">잔량 : {{A1User.vleft}}%</dd>
                        <dd class="yellow">예약 : {{A1User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{A1User.userid}}</dt>
	                    <dd class="sky">잔량 : {{A2User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{A2User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{A3User.userid}}</dt>
	                    <dd class="sky">잔량 : {{A3User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{A3User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{A4User.userid}}</dt>
	                    <dd class="sky">잔량 : {{A4User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{A4User.vreservation}}%</dd>
                    </dl>
                </div><!-- car end-->
                <ul class="arrows">
                    <li>금일V2G
                        <span>{{formatStringNumber A1User.velectric}} kWh<br/>{{formatStringNumber A1User.vcost}}원</span>
                        <span class="color red"></span>
                    </li>
                    <li>금일V2G
	                    <span>{{formatStringNumber A2User.velectric}} kWh<br/>{{formatStringNumber A2User.vcost}}원</span>
	                    <span class="color red"></span>
                    </li>
                    <li>금일V2G
	                    <span>{{formatStringNumber A3User.velectric}} kWh<br/>{{formatStringNumber A3User.vcost}}원</span>
	                    <span class="color red"></span>
                    </li>
                    <li>금일V2G
	                    <span>{{formatStringNumber A4User.velectric}} kWh<br/>{{formatStringNumber A4User.vcost}}원</span>
	                    <span class="color red"></span>
                    </li>
                </ul>
                <div class="building">
                    <h4>A_Zone</h4>
                    <ul class="bd">
                        <li><span class="num">{{formatStringNumber Aelectric}}</span>kWh</li>
                        <li><span class="num">{{formatStringNumber Acost}}</span>원</li>
                    </ul>
                    <div class="battery">
                        <p class="top_cell"></p>
                        <ul>
                            <li style="vertical-align:bottom;display:table-cell;"><img src="img/bat_line.png" width="164px" height="{{Ahight}}px" ></li>
                        </ul>
                        <p>INVERTER<span>ESS SYSTEM</span></p>
						<div class="car2">
							<dl>
							<dt><span class="dot"></span>입력전압: {{A1data}} V<br/>
							<span class="dot"></span>충전용량: {{A2data}} KWh <span style="padding-left:68px;font-weight:bold;color:#ffcc00">(100kWh)</span><br/>
							<span class="dot"></span>BATT SOC: {{A3data}} %<br/>
							<span class="dot"></span>출력전압: {{A4data}} V</dt>
							</dl>
						</div>
                    </div>
                </div>
                
                <div class="car">
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{B1User.userid}}</dt>
	                    <dd class="sky">잔량 : {{B1User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{B1User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{B2User.userid}}</dt>
	                    <dd class="sky">잔량 : {{B2User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{B2User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{B3User.userid}}</dt>
	                    <dd class="sky">잔량 : {{B3User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{B3User.vreservation}}%</dd>
                    </dl>
                    <dl>
	                    <dt><span class="dot"></span>고객번호 : {{B4User.userid}}</dt>
	                    <dd class="sky">잔량 : {{B4User.vleft}}%</dd>
	                    <dd class="yellow">예약 : {{B4User.vreservation}}%</dd>
                    </dl>
                </div><!-- car end-->
                <ul class="arrows">
                <li>금일V2G
	                <span>{{formatStringNumber B1User.velectric}} kWh<br/>{{formatStringNumber B1User.vcost}}원</span>
	                <span class="color red"></span>
	            </li>
	            <li>금일V2G
	                <span>{{formatStringNumber B2User.velectric}} kWh<br/>{{formatStringNumber B2User.vcost}}원</span>
	                <span class="color red"></span>
	            </li>
	            <li>금일V2G
	                <span>{{formatStringNumber B3User.velectric}} kWh<br/>{{formatStringNumber B3User.vcost}}원</span>
	                <span class="color red"></span>
	            </li>
	            <li>금일V2G
	                <span>{{formatStringNumber B4User.velectric}} kWh<br/>{{formatStringNumber B4User.vcost}}원</span>
	                <span class="color red"></span>
	            </li>
                </ul>
                <div class="building fr">
                    <h4>B_Zone</h4>
                    <ul class="bd">
                        <li><span class="num">{{formatStringNumber Belectric}}</span>kWh</li>
                        <li><span class="num">{{formatStringNumber Bcost}}</span>원</li>
                    </ul>
                    <div class="battery">
                        <p class="top_cell"></p>
                        <ul>
                            <li <li style="vertical-align:bottom;display:table-cell;"><img src="img/bat_line.png" width="164px" height="{{Bhight}}px"></li>
                        </ul>
                        <p>INVERTER<span>ESS SYSTEM</span></p>
						<div class="car2">
							<dl>
							<dt><span class="dot"></span>입력전압: {{B1data}} V<br/>
							<span class="dot"></span>충전용량: {{B2data}} KWh <span style="padding-left:68px;font-weight:bold;color:#ffcc00">(100kWh)</span><br/>
							<span class="dot"></span>BATT SOC: {{B3data}} %<br/>
							<span class="dot"></span>출력전압: {{B4data}} V</dt>
							</dl>
						</div>
                    </div>
                </div>
            </div><!-- apt end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
    <script>
    $('#sido').val("서울");
    $("#sido").trigger("change");
    $('#gumyun').val("강남구");
    $('#searchStr').val("도곡렉슬아파트");
    </script>
</body>
</html>