<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="long"><h2>강남구</h2></div>
            <div class="area_sec">
                <div class="region">
                    <h3>압구정라이프미성2차<span>(전체 : {{formatStringNumber apt01.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt01.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt01.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt01.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>역삼e편한세상아파트<span>(전체 : {{formatStringNumber apt16.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt16.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt16.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt16.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현두산위브<span>(전체 : {{formatStringNumber apt08.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt08.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt08.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt08.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>역삼래미안아파트<span>(전체 : {{formatStringNumber apt12.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt12.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt12.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt12.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>압구정신현대아파트<span>(전체 : {{formatStringNumber apt02.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt02.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt02.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt02.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>청담우성아파트<span>(전체 : {{formatStringNumber apt05.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt05.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt05.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt05.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현2아펠비움<span>(전체 : {{formatStringNumber apt09.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt09.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt09.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt09.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>레미안대치팰리스1단지<span>(전체 : {{formatStringNumber apt13.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt13.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt13.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt13.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>압구정한양6차<span>(전체 : {{formatStringNumber apt03.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt03.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt03.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt03.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>청담e편한세상<span>(전체 : {{formatStringNumber apt06.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt06.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt06.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt06.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현월드메르디앙<span>(전체 : {{formatStringNumber apt10.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt10.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt10.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt10.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3><a href="/apt">도곡렉슬아파트</a><span>(전체 : {{formatStringNumber apt14.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt14.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt14.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt14.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>청담아이파크<span>(전체 : {{formatStringNumber apt04.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt04.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt04.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt04.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>논현동현대아파트<span>(전체 : {{formatStringNumber apt07.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt07.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt07.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt07.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>삼성동센트럴아이파크<span>(전체 : {{formatStringNumber apt11.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt11.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt11.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt11.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>도곡현대아이파크<span>(전체 : {{formatStringNumber apt15.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt15.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt15.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt15.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec last">
                <div class="region">
                    <h3>GS개포자이아파트<span>(전체 : {{formatStringNumber apt17.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt17.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt17.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt17.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>레미안루체임아파트<span>(전체 : {{formatStringNumber apt18.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt18.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt18.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt18.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>수서목련타운아파트<span>(전체 : {{formatStringNumber apt19.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt19.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt19.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt19.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>레미안블레스티지<span>(전체 : {{formatStringNumber apt20.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt20.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt20.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber apt20.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>
</html>