<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<!-- 하이차트 스크립트 -->
    <script type="text/javascript">
		$(function () {
			Highcharts.chart('chart01', {
				chart: {
					backgroundColor: false,
					type: 'column'
				},
				credits: {
				  enabled: false
				},
				navigation: {
					buttonOptions: {
						y: -100
					}
				},
				title: {
					text: '',
					style: {
						color:'#fff',
						fontWeight: 'bold',
						fontFamily:'malgun gothic'
					}
				},
				xAxis: {
					categories: ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23'],
					crosshair: true,
					labels: {
					  style: {
						color:'#ccd6eb'
					  }
					}
				},
				yAxis: {
					allowDecimals: false,
					min: 0,
					visible: false,
					title: {
						text: '경보'
					}
				},
				tooltip: {
					headerFormat: '<b>{point.x} 시</b><br>',
					pointFormat: '<b>{series.name}:{point.y} kW</b>' ,
					shared: false,

				},
				legend: {
					itemMarginTop: -2,
					itemStyle: {
						color: '#fff',
						fontWeight: 'bold'
					}
				},
				plotOptions: {
					column: {
						pointPadding: 0.2,
						borderWidth: 0
					}
				},
				series: [{
					name: '전력량',
					color:'#fff',
					data: [3, 12, 32, 32, 21, 23, 6, 7, 23, 12, 12,35,12, 16, 52, 10, 23, 23, 23, 23, 23, 42, 24, 24]
				}]
			});
		});
		</script>

	<body>
        <div class="wrap">
        	{{>include/gnb}}
            <div class="boxes">
                <div class="left">
                    <div class="region">
                        <h2><a href="/seoul">서울</a><span>(전체 : {{formatStringNumber seoul.carcnt}}대)</span></h2>
                        <ul>
                            <li>
                                <span class="num_yellow">{{formatStringNumber seoul.vcar}}</span>대
                                <span class="skyblue">금일 V2G</span>
                            </li>
                            <li>
                                <span class="num_yellow">{{formatStringNumber seoul.velectric}}</span>kWh
                                <span class="skyblue">금일 V2G</span>
                            </li>
                            <li>
                                <span class="num_yellow">{{formatStringNumber seoul.vaccure}}</span>kWh
                                <span class="skyblue">누적 V2G</span>
                            </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>충청북도<span>(전체 : {{formatStringNumber chungbuk.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber chungbuk.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber chungbuk.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber chungbuk.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>충청남도<span>(전체 : {{formatStringNumber chungnam.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber chungnam.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber chungnam.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber chungnam.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>전라북도<span>(전체 : {{formatStringNumber junlabuk.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber junlabuk.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber junlabuk.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber junlabuk.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>전라남도<span>(전체 : {{formatStringNumber junlanam.carcnt}}대)</span></h2>
                        <ul>
                        	<li>
		                        <span class="num_yellow">{{formatStringNumber junlanam.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber junlanam.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber junlanam.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                </div><!-- left end-->
                <div class="center">
                    <div class="map">
                        <h2>전국현황</h2>
                        <ul class="map01">
                            <li>
                                <span class="num_orange">{{formatStringNumber centerdata.velectric}}</span>kWh
                                <span class="skyblue">전국 금일 V2G 전력량</span>
                            </li>
                            <li>
                                <span class="num_orange">{{formatStringNumber centerdata.vaccure}}</span>kWh
                                <span class="skyblue">전국 누적 V2G 전력량</span>
                            </li>
                        </ul>
                        <ul class="map02">
                            <li>
                                <span class="areaname"><a href="/seoul">서울</a></span>
                                <span class="area_yellow">{{formatStringNumber seoul.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">경기</span>
                                <span class="area_yellow">{{formatStringNumber kyungki.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">충남</span>
                                <span class="area_yellow">{{formatStringNumber chungnam.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">전북</span>
                                <span class="area_yellow">{{formatStringNumber junlabuk.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">전남</span>
                                <span class="area_yellow">{{formatStringNumber junlanam.carcnt}}</span>대
                            </li>
                        </ul>
                        <ul class="map03">
                            <li>
                                <span class="areaname">강원</span>
                                <span class="area_yellow">{{formatStringNumber kangwon.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">충북</span>
                                <span class="area_yellow">{{formatStringNumber chungbuk.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">경북</span>
                                <span class="area_yellow">{{formatStringNumber kyungsangbuk.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">경남</span>
                                <span class="area_yellow">{{formatStringNumber kyungsangnam.carcnt}}</span>대
                            </li>
                            <li>
                                <span class="areaname">제주</span>
                                <span class="area_yellow">{{formatStringNumber jeju.carcnt}}</span>대
                            </li>
                        </ul>
                    </div><!-- map end-->
                    <div class="time">
                        <h2>시간대별전력량</h2>
                        <div class="cheart_area03">
							<div id="chart01" style="height:150px;"></div>
						</div>
                    </div>
                </div><!-- center end-->
                <div class="right">
                    <div class="region">
                        <h2>경기<span>(전체 : {{formatStringNumber kyungki.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber kyungki.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungki.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungki.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>강원<span>(전체 : {{formatStringNumber kangwon.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber kangwon.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kangwon.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kangwon.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>경상북도<span>(전체 : {{formatStringNumber kyungsangbuk.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangbuk.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangbuk.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangbuk.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>경상남도<span>(전체 : {{formatStringNumber kyungsangnam.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangnam.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangnam.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber kyungsangnam.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                    <div class="region">
                        <h2>제주도<span>(전체 : {{formatStringNumber jeju.carcnt}}대)</span></h2>
                        <ul>
	                        <li>
		                        <span class="num_yellow">{{formatStringNumber jeju.vcar}}</span>대
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber jeju.velectric}}</span>kWh
		                        <span class="skyblue">금일 V2G</span>
		                    </li>
		                    <li>
		                        <span class="num_yellow">{{formatStringNumber jeju.vaccure}}</span>kWh
		                        <span class="skyblue">누적 V2G</span>
		                    </li>
                        </ul>
                    </div>
                </div><!-- left end-->
            </div><!-- boxes end-->
        </div><!-- wrap end-->
    </body>
   
</html>