<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes seoul">
            <div class="long"><h2>서울특별시</h2></div>
            <div class="area_sec float">
                <div class="region">
                    <h3>은평구<span>(전체 : {{formatStringNumber gu01.carcnt}}대)</span></h3>
                    <ul>
                        <li>
                            <span class="num_yellow">{{formatStringNumber gu01.vcar}}</span>대
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">{{formatStringNumber gu01.velectric}}</span>kWh
                            <span class="skyblue">금일 V2G</span>
                        </li>
                        <li>
                            <span class="num_yellow">{{formatStringNumber gu01.vaccure}}</span>kWh
                            <span class="skyblue">누적 V2G</span>
                        </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>도봉구<span>(전체 : {{formatStringNumber gu02.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu02.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu02.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu02.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>강북구<span>(전체 : {{formatStringNumber gu03.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu03.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu03.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu03.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>노원구<span>(전체 : {{formatStringNumber gu04.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu04.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu04.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu04.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>성북구<span>(전체 : {{formatStringNumber gu05.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu05.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu05.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu05.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>서대문구<span>(전체 : {{formatStringNumber gu06.carcnt}}대)</span></h3>
	                    <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu06.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu06.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu06.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>종로구<span>(전체 : {{formatStringNumber gu07.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu07.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu07.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu07.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>동대문구<span>(전체 : {{formatStringNumber gu08.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu08.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu08.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu08.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>중구<span>(전체 : {{formatStringNumber gu09.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu09.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu09.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu09.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>성동구<span>(전체 : {{formatStringNumber gu10.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu10.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu10.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu10.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec">
                <div class="region">
                    <h3>마포구<span>(전체 : {{formatStringNumber gu11.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu11.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu11.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu11.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>강서구<span>(전체 : {{formatStringNumber gu13.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu13.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu13.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu13.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>양천구<span>(전체 : {{formatStringNumber gu15.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu15.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu15.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu15.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="seoul_map"><img src="img/seoul_map.png" alt="서울지도"></div>
            <div class="area_sec nomargin">
                <div class="region">
                    <h3>중랑구<span>(전체 : {{formatStringNumber gu12.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu12.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu12.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu12.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>광진구<span>(전체 : {{formatStringNumber gu14.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu14.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu14.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu14.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
            <div class="area_sec float">
                <div class="region">
                    <h3>구로구<span>(전체 : {{formatStringNumber gu16.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu16.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu16.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu16.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>영등포구<span>(전체 : {{formatStringNumber gu17.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu17.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu17.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu17.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>용산구<span>(전체 : {{formatStringNumber gu18.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu18.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu18.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu18.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3><a href="/location">강남구</><span>(전체 : {{formatStringNumber gu19.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu19.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu19.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu19.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>강동구<span>(전체 : {{formatStringNumber gu20.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu20.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu20.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu20.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>금천구<span>(전체 : {{formatStringNumber gu21.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu21.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu21.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu21.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>관악구<span>(전체 : {{formatStringNumber gu22.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu22.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu22.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu22.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>동작구<span>(전체 : {{formatStringNumber gu23.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu23.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu23.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu23.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region">
                    <h3>서초<span>(전체 : {{formatStringNumber gu24.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu24.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu24.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu24.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
                <div class="region nomargin">
                    <h3>송파구<span>(전체 : {{formatStringNumber gu25.carcnt}}대)</span></h3>
	                <ul>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu25.vcar}}</span>대
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu25.velectric}}</span>kWh
	                        <span class="skyblue">금일 V2G</span>
	                    </li>
	                    <li>
	                        <span class="num_yellow">{{formatStringNumber gu25.vaccure}}</span>kWh
	                        <span class="skyblue">누적 V2G</span>
	                    </li>
                    </ul>
                </div>
            </div><!-- area_sec end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
    <script>
    $('#sido').val("서울");
    $("#sido").trigger("change");
    </script>
</body>
</html>