<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="long mb0"><h2>고객목록</h2></div>
            <table class="table01">
                <thead>
                    <tr>
                        <th>고객번호</th>
                        <th>아이디</th>
                        <th>거주주소</th>
                        <th>금일V2G(kWh)</th>
                        <th>누적V2G(kWh)</th>
                        <th>현재접속여부</th>
                        <th>이달정산예상금액(원)</th>
                        <th>누적정산금액(원)</th>
                        <th>비고</th>
                    </tr>
                </thead>
                <tbody>
                {{#each dataList}}
					<tr>
						<td>{{userno}}</td>
						<td>{{userid}}</td>
						<td>{{addr}}</td>
						<td>{{nowday}}</td>
						<td>{{accrue}}</td>
						<td>{{contact}}</td>
						<td>{{nowcal}}</td>
						<td>{{accruecal}}</td>
						<td></td>
					</tr>
				{{/each}}	
				{{#eqLong totlalCount 0}}
					<tr>
						<td colspan="8">등록/검색된 결과가 없습니다.</td>
					</tr>
				{{/eqLong}}		
                
                
                </tbody>
            </table>
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>
</html>