<!DOCTYPE html>
<html lang="ko">
    <head>
    {{>include/head}}
    </head>
	<body>
        <div class="wrap">
        	{{>include/gnb}}
        <div class="boxes">
            <div class="half">
                <h2>KPX 거래</h2>
                <ul class="deal">
                    <li>
                        <span class="deal_t">금일</span>
                        <span class="num_yellow">{{formatStringNumber kpxTotalvelectric}}</span>kWh
                        <span class="num_yellow m20">{{formatStringNumber kpxTotalVcost}}</span>천원
                    </li>
                    
                </ul>
                <ul class="deals">
                    <li>
                        <span class="deal_t2">서울</span>
                        <span class="num_yellow">{{formatStringNumber kpxseoul.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxseoul.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경기</span>
                        <span class="num_yellow">{{formatStringNumber kpxkyungki.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxkyungki.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">강원</span>
                        <span class="num_yellow">{{formatStringNumber kpxkangwon.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxkangwon.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">충북</span>
                        <span class="num_yellow">{{formatStringNumber kpxchungbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxchungbuk.vcost}}<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals2">
                    <li>
                        <span class="deal_t2">충남</span>
                        <span class="num_yellow">{{formatStringNumber kpxchungnam.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxchungnam.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경북</span>
                        <span class="num_yellow">{{formatStringNumber kpxkyungbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxkyungbuk.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">경남</span>
                        <span class="num_yellow">{{formatStringNumber kpxkyungnam.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxkyungnam.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">전북</span>
                        <span class="num_yellow">{{formatStringNumber kpxjunbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxjunbuk.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">전남</span>
                        <span class="num_yellow">{{formatStringNumber kpxjunnam.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxjunnam.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="deal_t2">제주</span>
                        <span class="num_yellow">{{formatStringNumber kpxjeju.velectric}}<b>kWh</b><br/>{{formatStringNumber kpxjeju.vcost}}<b>천원</b></span>
                    </li>
                </ul>
                <p style="text-align:center; margin:25px 0"><img src="img/btn_up.png" style="margin-right:20px"><img src="img/btn_down.png"></p>
                <ul class="deal_arrow">
                    <li>
                        <span><img src="img/btn_up_s.png"> 전력판매</span>
                        <span><img src="img/btn_down_s.png"> 판매요청</span>
                    </li>
                    <li><img src="img/kpx_logo.png"></li>
                </ul>
            </div><!-- half end-->
            <div class="half fr">
                <h2>DR 거래</h2>
                <ul class="deal">
                    <li>
                        <span class="deal_t">금일</span>
                        <span class="num_yellow">{{formatStringNumber drTotalvelectric}}</span>kWh
                        <span class="num_yellow m20">{{formatStringNumber drTotalVcost}}</span>천원
                    </li>
                </ul>
                <ul class="deals dr">
                    <li>
                    	<span class="pink">시간 : {{drseoul.vtime}}시 00분</span>
                        <span class="deal_t2">서울</span>
                        <span class="num_yellow">{{formatStringNumber drseoul.velectric}}<b>kWh</b><br/>{{formatStringNumber drseoul.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drkyungki.vtime}}시 00분</span>
                        <span class="deal_t2">경기</span>
                        <span class="num_yellow">{{formatStringNumber drkyungki.velectric}}<b>kWh</b><br/>{{formatStringNumber drkyungki.vcost}}<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals dr side">
                    <li>
                    	<span class="pink">시간 : {{drchungbuk.vtime}}시 00분</span>
                        <span class="deal_t2">충북</span>
                        <span class="num_yellow">{{formatStringNumber drchungbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber drchungbuk.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drkangwon.vtime}}시 00분</span>
                        <span class="deal_t2">강원</span>
                        <span class="num_yellow">{{formatStringNumber drkangwon.velectric}}<b>kWh</b><br/>{{formatStringNumber drkangwon.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drchungnam.vtime}}시 00분</span>
                        <span class="deal_t2">충남</span>
                        <span class="num_yellow">{{formatStringNumber drchungnam.velectric}}<b>kWh</b><br/>{{formatStringNumber drchungnam.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drkyungbuk.vtime}}시 00분</span>
                        <span class="deal_t2">경북</span>
                        <span class="num_yellow">{{formatStringNumber drkyungbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber drkyungbuk.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drjunbuk.vtime}}시 00분</span>
                        <span class="deal_t2">전북</span>
                        <span class="num_yellow">{{formatStringNumber drjunbuk.velectric}}<b>kWh</b><br/>{{formatStringNumber drjunbuk.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                    	<span class="pink">시간 : {{drkyungnam.vtime}}시 00분</span>
                        <span class="deal_t2">경남</span>
                        <span class="num_yellow">{{formatStringNumber drkyungnam.velectric}}<b>kWh</b><br/>{{formatStringNumber drkyungnam.vcost}}<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deals dr nobo">
                    <li>
                    <span class="pink">시간 : {{drjunnam.vtime}}시 00분</span>
                        <span class="deal_t2">전남</span>
                        <span class="num_yellow">{{formatStringNumber drjunnam.velectric}}<b>kWh</b><br/>{{formatStringNumber drjunnam.vcost}}<b>천원</b></span>
                    </li>
                    <li>
                        <span class="pink">시간 : {{drjeju.vtime}}시 00분</span>
                        <span class="deal_t2">제주</span>
                        <span class="num_yellow">{{formatStringNumber drjeju.velectric}}<b>kWh</b><br/>{{formatStringNumber drjeju.vcost}}<b>천원</b></span>
                    </li>
                </ul>
                <ul class="deal_arrow dr">
                    <li>
                        <span><img src="img/arrow_01.png"> 전력판매</span>
                        <span><img src="img/arrow_02.png"> 판매요청</span>
                    </li>
                </ul>
            </div><!-- half end-->
        </div><!-- boxes end-->
    </div><!-- wrap end-->
</body>    
</html>